.atribuicoes {
    padding: 30px;
}

.atribuicoes li {
    padding: 15px 5px;
}

.atribuicoes li a {
    color: #fff;
    border: 1px solid;
    padding: 10px;
    font-weight: 500;
    font-style: italic;
    font-size: .7rem;
}

.atribuicoes li:hover a {
    background-color: #ff326c;
    color: aliceblue;
}

.social-media {
    padding: 100px 0;
    display: flex;
    /* padding: 10px; */
    gap: 20px;
}

.social-media li {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media li .outer-shadow {
    font-size: 2rem;
    padding: 20px;
    border-radius: 50px;
    color: #000;
}

.social-media li:hover {
    background-color: #000000;
    color: #fff;
}

.social-media li:hover .outer-shadow {
    color: #fff;
}

@media (max-width: 1280px) {

    .atribuicoes li {
        padding: 20px 5px;
    }

}

@media (max-width: 415px) {
    .atribuicoes {
        padding: 10px auto;
        font-size: .7rem;
    }

    .atribuicoes li {
        padding: 5px;
    }

    .atribuicoes li a{
        padding: 4px;
    }

    .social-media .outer-shadow {
        font-size: 1.8rem;
    }

    .social-media {
        padding: 50px 0;
    }

    .container .card {
        scale: .75;
    }
}


@media (max-width: 415px) {
    .atribuicoes li a {
        font-size: .5rem;
    }
}